body{
    background: rgb(157,217,194);
    background: linear-gradient(43deg, rgb(126, 242, 198) 0%, rgb(120, 140, 126) 95%); 
}
label {
    display: block;
}
.form_cnt{
    height: 100vh;
    display: flex;
    justify-content: center;
}

@media screen and (min-width: 600px) {
    .form_cnt {
        align-items: center;
    }
}

.form {
    display: grid;
    border-radius: 10px;
    display: inline-block;
    padding: 40px;
}

@media screen and (min-width: 600px) {
    .form {
        background-color: #b3ccb3;
        box-shadow: 9px 12px 14px -4px #7b7676;
    }
}

.fname , .lname{
    font-size: 1em;
}
#fname , #lname{
    color: #555454;
    margin-bottom: 12px;
    padding: 5px;
    font-size: 1.1em;
    border-radius: 10px;
    width: 100%;
}
.gender_title {
    font-size: 1em;
    margin: 12px 0 10px;
}
.cont {
    display: flex;
    margin-bottom: 12px;
    align-items: center;
}
#female {
    padding-right: 60px;
}

.age , .pwd , .num{
    font-size: 1em;
}

#pwd {
    padding: 5px;
    max-width: 100%;
    border-radius: 10px;
}
.pwd {
    padding-right: 13px;
}
#age , #num , #pass{
    border-radius: 10px;
    padding: 5px;
    width: 100%;
    margin-bottom: 12px;
}
.submit {
    display: flex;
    margin: 42px auto 0;
    font-size: 1.1em;
    color: rgb(5, 59, 5);
    padding: 10px;
    width: 40%;
    border-radius: 10px;
    box-shadow: 5px 5px 5px #54996ccf;
}
p {
    padding: 0;
    margin: 0;
}